#my-botui-app {
    position: relative;
}

#bot-option {
    position: absolute;
    right: 8px;
    top: 5px;
}

#bot-menu-items {
    padding-top: 60px;
}

#bot-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#bot-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#bot-menu a:hover {
    color: #f1f1f1;
}

#bot-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    #bot-menu {padding-top: 15px;}
    #bot-menu a {font-size: 18px;}
  }