#my-botui-app {
  position: relative;
}

#bot-option {
  position: absolute;
  right: 25px;
  top: 12px;
  background-color: chocolate;
  color: #f8f8f8;
  padding: 6px 16px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#bot-option a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#bot-menu-items {
  padding-top: 60px;
}
#bot-menu-items a {
  white-space: nowrap;
}
#user-address {
  position: absolute;
  left: 12px;
  top: 5px;
  color: #25ceb6;
  font-size: 11px;
}
#bot-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #28635a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0;
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  text-transform: uppercase;
}

#bot-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

#bot-menu a:hover {
  color: #fff;
}

#bot-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #bot-menu {
    padding-top: 15px;
  }
  #bot-menu a {
    font-size: 18px;
  }
}
